@using Class_04_View.Models.DtoModel
<h2>All Students by id</h2>

<div>
    <dl class="row">
        <dt>
            FullName
        </dt>
        <dd>
            @Model.FullName
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @Model.Age
        </dd>

    </dl>
</div>
