@model CourseDto
<h2>Course by Id</h2>

<div>
    <dl class="row">
        <dt>
            CourseName
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Id
        </dt>
        <dd>
            @Model.Id
        </dd>
        <dt>
            Number Of Classes
        </dt>
        <dd>
            @Model.NumberOfClasses
        </dd>
    </dl>
</div>